<!-- B:/somosdeportes/_includes/navigation.html -->
<nav>
    <ul>
        <li><a href="{{ "/" | relative_url }}">Pagina Principal</a></li>
        <li><a href="{{ "/futbol.html" | relative_url }}">Fútbol</a></li>
        <li><a href="{{ "/soccer.html" | relative_url }}">MLS</a></li>
        <li><a href="{{ "/basquetbol.html" | relative_url }}">Básquetbol</a></li>
        <li><a href="{{ "/beisbol.html" | relative_url }}">Béisbol</a></li>
        <li><a href="{{ "/futbolamericano.html" | relative_url }}">NFL</a></li>
        <li><a href="{{ "/otrosdeportes.html" | relative_url }}">Otros Deportes</a></li>
        <li><a href="{{ "/opinion.html" | relative_url }}">Opinión</a></li>
        <li><a href="{{ "/contacto.html" | relative_url }}">Contacto</a></li>
        <!-- Podrías generar esto dinámicamente desde _data/navigation.yml si quieres -->
    </ul>
</nav>


