<!-- B:/somosdeportes/_includes/navigation.html -->
<nav>
    <ul>
        <li><a href="{{ "/" | relative_url }}">Pagina Principal</a></li>
        <li><a href="{{ "/futbol/" | relative_url }}">Fútbol</a></li>
        <li><a href="{{ "/soccer/" | relative_url }}">MLS</a></li>
        <li><a href="{{ "/basquetbol/" | relative_url }}">Básquetbol</a></li>
        <li><a href="{{ "/beisbol/" | relative_url }}">Béisbol</a></li>
        <li><a href="{{ "/futbolamericano/" | relative_url }}">NFL</a></li>
        <li><a href="{{ "/otrosdeportes/" | relative_url }}">Otros Deportes</a></li>
        <li><a href="{{ "/opinion/" | relative_url }}">Opinión</a></li>
        <li><a href="{{ "/contacto/" | relative_url }}">Contacto</a></li>
        <!-- Podrías generar esto dinámicamente desde _data/navigation.yml si quieres -->
    </ul>
</nav>


