<!-- B:/somosdeportes/_layouts/default.html (EL CORRECTO) -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title | escape | default: site.title | escape }}</title>
    <link rel="stylesheet" href="{{ '/style.css' | relative_url }}">
    {% feed_meta %}
    {% seo %}
</head>
<body>
    <header>
        <h1><a href="{{ "/" | relative_url }}">{{ site.title | default: "SOMOSDEPORTE.COM" }}</a></h1>
        {% include navigation.html %}
    </header>

    <main>
        {{ content }}
    </main>

    <footer>
        <p>© {{ "now" | date: "%Y" }} {{ site.title | default: "SOMOSDEPORTE.COM" }}. '...pagina en construccion.....Todos los derechos reservados.'</p>
    </footer>
</body>
</html>
 

